<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Les Plantes Du Jour
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Les Plantes Du Jour</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="/assets/img/vervaine.jpg" style="width:100%;" >
    <ion-card-header>
      <ion-card-title>
        <div>{{data}}</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting nchrsions of Lorem Ipsum.
      </p>
    </ion-card-content>

  </ion-card>
</ion-content>
